@use "helpers" as *;

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-primary);
  font-size: fluid(16, 24);
  line-height: 1.5;
  line-height: 1.33;
}

// ===========================
// 📐 CONTAINER & LAYOUT
// ===========================

.wrapper {
  overflow: hidden;
  position: relative;
}

.container {
  max-width: var(--container-width);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.section-padding-y {
  padding-block: var(--section-padding-y);
}

.section-padding-top {
  padding-top: var(--section-padding-y);
}

.section-padding-bottom {
  padding-bottom: var(--section-padding-y);
}

// ===========================
// ✒️ TYPOGRAPHY
// ===========================

h1,
.heading-xl {
  font-size: fluid(70, 130);
  line-height: 0.9;
  text-shadow: var(--text-shadow);
  text-align: center;
  font-family: var(--font-family-accent);
  color: var(--color-primary-dark);
}

h2,
.heading-lg {
  font-size: fluid(42, 80);
  line-height: 1;
  font-family: var(--font-family-accent);
  color: var(--color-primary-dark);
  letter-spacing: -2px;
}

h3,
.heading-md {
  font-size: fluid(28, 42);
  line-height: 1.25;
  font-family: var(--font-family-accent);
}

h4,
.heading-sm {
  font-size: fluid(20, 32);
  line-height: 1.25;
  font-family: var(--font-family-accent);
}

p,
.text-base {
  font-size: fluid(16, 24);
  line-height: 1.35;
  font-weight: 300;
}

a:not([class]) {
  @include hover {
    text-decoration: underline;
  }
}

p:not([class]):not(:last-of-type) {
  margin-bottom: rem(16);
}

// ===========================
// 🎯 UTILITIES
// ===========================

.base-swiper-pagination,
.gradient-swiper-pagination,
.testimonials-swiper-pagination {
  .swiper-pagination-bullet {
    background-color: transparent;
    border: 2px solid var(--color-neutral-300);
    opacity: 1;
    width: rem(10);
    height: rem(10);
  }
  .swiper-pagination-bullet-active {
    background-color: var(--color-neutral-300);
    border: 1px solid var(--color-neutral-300);
  }
}

.two-side-gradient {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 1) 100%
    );
    @media (max-width: 75rem) {
      display: none;
    }
  }
}

@include large {
  br {
    display: none !important;
  }
}
