@use "../helpers" as *;
.article-page {
  padding-bottom: fluid(120, 140);
}



.article {
  padding-top: fluid(80, 180);
  margin-bottom: fluid(80, 180);
  &__container {
  }

  &__header {
    max-width: rem(1360);
    margin: 0 auto;
    margin-bottom: fluid(24, 180);
  }

  &__title {
    font-size: fluid(42, 80);
    text-shadow: none;
    line-height: 1;
    letter-spacing: -2px;
  }

  &__content {
  }

  &__content-container {
    max-width: rem(900);
    margin: 0 auto;
  }

  &__meta {
    display: flex;
    gap: rem(16);
    margin-bottom: rem(43);

    @include small {
      margin-bottom: rem(60);
      justify-content: center;
    }

    span {
      background-color: var(--color-neutral-100);
      border-radius: rem(30);
      padding: rem(10) rem(14);
      font-size: fluid(12, 16);
      line-height: 1;
      text-transform: uppercase;
    }
  }

  &__content-body {
    img {
      border-radius: rem(24) !important;
      width: 100%;
      max-width: 100%;

      @include small {
        border-radius: rem(16) !important;
      }
    }
  }
}
