@use "../helpers" as *;

.base-slider {
  &__container {
  }

  &__title {
    margin-bottom: fluid(40, 80);
    text-align: center;

    @include above-large {
      letter-spacing: -0.125rem;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__navigation {
    pointer-events: none;
    position: absolute;
    top: 27%;
    left: 0;
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include small {
      display: none;
    }
  }

  &__nav-button {
    pointer-events: auto;
    display: flex;
    width: rem(56);
    height: rem(56);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-secondary);
    transition: background-color 0.3s ease;

    @media (min-width: 1024px) {
      width: rem(72);
      height: rem(72);
    }

    &:hover {
      background-color: var(--color-secondary-dark);
    }

    &--prev {
      transform: translateX(-50%);
      // Previous button specific styles if needed
    }

    &--next {
      transform: translateX(50%);
      // Next button specific styles if needed
    }
  }

  &__nav-icon {
    width: rem(11);
    height: rem(20);
  }

  &__slider {
    overflow: hidden;
  }

  &__slides {
    @include small {
      display: flex;
      gap: rem(24);
      flex-direction: column;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__slide-image {
    margin-bottom: rem(16);
    border-radius: rem(16);

    @media (min-width: 768px) {
      margin-bottom: rem(24);
    }
  }

  &__slide-title {
    margin-bottom: fluid(8, 16);
    font-size: fluid(28, 32);
    line-height: 1.25;
  }

  &__slide-text {
    // Default paragraph styles
  }

  &__pagination {
    margin-top: rem(80);
    display: none;
    justify-content: center;

    @media (min-width: 768px) {
      display: flex;
    }
  }
}
