@use "../helpers" as *;

.base-row {
  overflow: hidden;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(40);

    @include medium {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include above-medium {
      flex-basis: rem(480);
    }
  }

  &__title {
    margin-bottom: fluid(16, 24);
    @include above-large {
      letter-spacing: -0.125rem;
    } 
  }

  &__description {
    margin-bottom: fluid(24, 40);
  }

  &__button {
 
  }

  &__media {
    position: relative;

    @media (min-width: 1024px) {
      flex-basis: rem(674);
    }
  }

  &__image {
    position: relative;
    z-index: 30;
  }

  &__circle {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 20;
    width: rem(200);
    height: rem(200);
    transform: translateX(40%) translateY(-50%) rotate(180deg);

    @media (min-width: 640px) {
      width: rem(300);
      height: rem(300);
      transform: translateX(50%) translateY(-50%) rotate(180deg);
    }

    @media (min-width: 1024px) {
      transform: translateX(30%) translateY(-50%) rotate(0deg);
    }
  }

  &__particles {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 10;
    transform: translateX(40%) translateY(-50%) rotate(180deg);

    @media (min-width: 640px) {
      transform: translateX(80%) translateY(-50%) rotate(180deg);
    }

    @media (min-width: 1024px) {
      transform: translateX(60%) translateY(-50%) rotate(0deg);
    }
  }
}
