@use "../helpers" as *;

.blog-pagination {
  margin-top: fluid(40, 120);
  .screen-reader-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(16);
  }
  .page-numbers {
    font-size: rem(20) !important;
  }
  .current {
    color: var(--color-primary);
  }
  .next {
    padding-left: rem(8);
  }
  .prev {
    padding-left: rem(8);
    transform: rotate(180deg);
  }
}
