@use "../helpers" as *;

.footer {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: relative;

  &__container {
    position: relative;
    z-index: 5;
    margin: 0 auto 2.5rem;
    max-width: 116rem;
    border-radius: 1.5rem;
    border: 1px solid var(--color-neutral-300);
    padding: 2.5rem 1rem;

    @media (min-width: 1024px) {
      margin-bottom: 5rem;
    }
  }

  &__content {
    margin: 0 auto;
    max-width: 90rem;
  }

  &__title {
    font-size: fluid(20, 32);
    margin-bottom: fluid(16, 24);
    line-height: 1.25;
  }

  &__form {
    // JotForm script container
  }

  &__main {
    margin-top: 2.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 0.75rem;

    @media (min-width: 475px) {
      gap: 1.75rem;
      align-items: stretch;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem 3.75rem;

    @include small {
      gap: 1.5rem 1.5rem;
    }
  }

  &__section {
    width: max-width;

    @media (min-width: 640px) {
      border-left: 1px solid var(--color-neutral-300);
      padding-left: 0.75rem;
    }

    &--menu {
      @include small {
        border-left: none;
        padding-left: 0;
      }
    }

    &--social {
      @include small {
        padding-left: 0.75rem;
        border-left: 1px solid var(--color-neutral-300);
      }
    }

    &--contacts {
      width: max-width;
      @include small {
        border: 0;
        padding-left: 0;
        width: 100%;
      }
    }
  }

  &__section-title {
    font-size: fluid(20, 24);
    margin-bottom: fluid(8, 16);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__item {
    line-height: 1;
  }

  &__link {
    line-height: 1.25;
    transition: var(--transition-fast);
    color: var(--color-primary);
    font-size: fluid(16, 18);
    font-weight: 300;

    &:hover {
      color: var(--color-secondary);
    }
  }

  &__social {
    // Social links wrapper
  }

  &__contacts {
    // Contacts wrapper
  }

  &__badge {
    flex-shrink: 0;
    width: 5.75rem;
    height: 5.75rem;

    @media (min-width: 475px) {
      width: 9.75rem;
      height: 9.75rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__bottom {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem 1.75rem;

    @media (min-width: 768px) {
      margin-top: 3.75rem;
      flex-direction: row;
    }
  }

  &__legal {
    // Legal links wrapper
  }

  &__policy-link {
    color: var(--color-primary);
    font-weight: 300;
    transition: var(--transition-fast);
    font-size: fluid(14, 16);

    &:hover {
      color: var(--color-secondary);
    }
  }

  &__copyright {
    p {
      font-size: fluid(14, 16);
    }
  }

  &__word {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 85%;
    object-fit: contain;
    z-index: 3;
    transform: translateX(-50%);
    pointer-events: none;

    @include large {
      display: none;
    }
  }
}
