@use "../helpers" as *;

.gradient-slider {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: fluid(40, 80);
  }

  &__badge {
    color: var(--color-primary-dark);
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: var(--color-neutral-100);
    padding: 0.5rem 0.75rem;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: fluid(12, 16);
  }

  &__title {
    text-align: center;

    @include above-large {
      letter-spacing: -0.125rem;
    }
  }

  &__wrapper {
    position: relative;
    overflow: hidden;

    @media (min-width: 768px) {
      padding: 0 2rem;
    }
  }

  &__navigation {
    pointer-events: none;
    position: absolute;
    top: 38%;
    left: 0;
    z-index: 10;
    display: none;
    width: 100%;
    justify-content: space-between;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__nav-button {
    background-color: var(--color-secondary);
    transition: background-color 0.3s ease;
    pointer-events: auto;
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:hover {
      background-color: var(--color-secondary-dark);
    }

    @media (min-width: 1024px) {
      width: 4.5rem;
      height: 4.5rem;
    }
  }

  &__slider {
    overflow: visible;
  }

  &__slides {
    @include small {
      display: flex;
      gap: 1.5rem;
      flex-direction: column;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__slide-image {
    margin-bottom: 1rem;
    border-radius: 1rem;

    @media (min-width: 768px) {
      margin-bottom: 1.5rem;
    }
  }

  &__slide-title {
    margin-bottom: fluid(8, 16);
  }

  &__pagination {
    margin-top: 5rem;
    display: none;
    justify-content: center;

    @media (min-width: 768px) {
      display: flex;
    }
  }
}
